@use '~@angular/material' as material;
@import '../theme/app.theme.scss';

.gradient-button {
    display: inline-block;
    cursor: pointer;
  border: 3px solid transparent;
  background: linear-gradient(#0a1c3e,#0a1c3e) padding-box,linear-gradient(to bottom right,#f50083,#f45d01 100%) border-box;
  border-radius: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    transition: all .5s ease;
    margin-left: auto;
    margin-right: auto;
    backface-visibility: hidden;
    vertical-align: middle;
    line-height: 16px;

    &:hover {
        transform: perspective(1px) scale(1.1);
    }
}
