@use '~@angular/material' as material;
@import '../theme/app.theme.scss';

.gradient-button {
    display: inline-block;
    cursor: pointer;
  border: 3px solid transparent;
  background: material.get-color-from-palette($blue-palette, 500) linear-gradient(material.get-color-from-palette($blue-palette, 500), material.get-color-from-palette($blue-palette, 500)) linear-gradient(to bottom right, material.get-color-from-palette($pink-palette, 500), material.get-color-from-palette($orange-palette, 500) 100%);
  border-radius: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    transition: all .5s ease;
    margin-left: auto;
    margin-right: auto;
    backface-visibility: hidden;
    vertical-align: middle;
    line-height: 16px;

    &:hover {
        transform: perspective(1px) scale(1.1);
    }
}
