<div id="navbar" class="flex-container">
    <div id="navbar-title" class="flex-container">
        <img src="../../../assets/images/TitleIcon.png">
        <h1 class="paragraph-header accent">KYLE<br>SAUNDERS</h1>
    </div>
    <div id="navbar-items" class="flex-container">
        <div id="navbar-item" class="isSelected">
            <p class="paragraph-subheader isSelected">About me</p>
        </div>
        <div id="navbar-item">
            <p class="paragraph-subheader">Career</p>
        </div>
        <div id="navbar-item">
            <p class="paragraph-subheader">Projects<br>Repos</p>
        </div>
    </div>
    <div id="navbar-actions" class="flex-container">
        <button class="gradient-button clickable">Resume</button>
    </div>
</div>