<div id="navbar" >
    <div id="navbar-title" >
        <img src="../../../assets/images/TitleIcon.png">
        <h1 class="paragraph-header accent">KYLE<br>SAUNDERS</h1>
    </div>
    <div id="navbar-items" >
        <div class="navbar-item selected">
            <p class="paragraph-subheader selected">About me</p>
        </div>
        <div class="navbar-item">
            <p class="paragraph-subheader">Career</p>
        </div>
        <div class="navbar-item">
            <p class="paragraph-subheader">Projects<br>Repos</p>
        </div>
    </div>
    <div id="navbar-actions">
        <button class="gradient-button clickable">Resume</button>
    </div>
</div>
