@use '~@angular/material' as material;

$blue-palette: material.define-palette((
    50 : #e2e4e8,
    100 : #b6bbc5,
    200 : #858e9f,
    300 : #546078,
    400 : #2f3e5b,
    500 : #0a1c3e,
    600 : #091938,
    700 : #071430,
    800 : #051128,
    900 : #03091b,
    A100 : #597aff,
    A200 : #2652ff,
    A400 : #0030f2,
    A700 : #002bd9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #CCD6F6,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
)));

$pink-palette: material.define-palette((
    50 : #fee0f0,
    100 : #fcb3da,
    200 : #fa80c1,
    300 : #f84da8,
    400 : #f72696,
    500 : #f50083,
    600 : #f4007b,
    700 : #f20070,
    800 : #f00066,
    900 : #ee0053,
    A100 : #ffffff,
    A200 : #ffe1ea,
    A400 : #ffaec5,
    A700 : #ff95b3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
)));

$orange-palette: material.define-palette((
    50 : #feece1,
    100 : #fcceb3,
    200 : #faae80,
    300 : #f78e4d,
    400 : #f67527,
    500 : #f45d01,
    600 : #f35501,
    700 : #f14b01,
    800 : #ef4101,
    900 : #ec3000,
    A100 : #ffffff,
    A200 : #ffe4e0,
    A400 : #ffb8ad,
    A700 : #ffa293,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
)));