<div id=hero-container>
    <div id="hero-image">
        <div id="portrait"></div>
    </div>
    <div id="hero-text">
        <h1 id="greeting" class="paragraph-subheader accent">Hi, I'm</h1>
        <h1 id="my-name" class="section-header">Kyle Saunders</h1>
        <h1 id="headline" class="section-header">You do the Dev, I do the rest.</h1>
        <h1 id="blurb" class="paragraph-body">
            I am a DevOps engineer specializing in building elegant and holistic DevOps solutions. Curently I am focused on building corporate grade solutions and pipelines at 
            <span class="clickable">
                CA Southern Africa.
            </span>
        </h1>
    </div>
</div>