@use '~@angular/material' as material;
@import './app/theme/app.theme.scss';
@import '../src/app/styles/text-styles.scss';
@import '../src/app/styles/button-styles.scss';

body {
    background-color: material.get-color-from-palette($blue-palette, 500);
    margin: 0;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        height: 50px;
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        width: 2px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        height: 30px;
        background: material.get-color-from-palette($blue-palette, 400);
        border-radius: 5px;
    }
}

html {
    width: 100%;
    height: 100%;
}

.line {
  width: 75px;
  height: 2px;
  background-color: rgba(material.get-color-from-palette($blue-palette, 300-contrast), 0.3);
}
